@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&subset=korean');
@import url('https://db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,400,600&subset=korean');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
	word-break: keep-all;
	letter-spacing: -0.2px;
	word-spacing : 0.6px;

	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link,
a:hover,
a:visited{
	text-decoration: none;
	color : inherit;
}


html {
	font-family: 'Noto Sans KR', sans-serif;
	color : #666;
}

div.post-link + div.post-link{
	margin-top:10px;
}

h1{
	margin-bottom:10px;
	color : #333;
	font-weight: 900;
	font-size:2.1rem;
	line-height: 2.7rem;
	margin-bottom:20px;
}
h2{
	margin: 1.5rem 0px;
	font-weight: 600;
	font-size: 1.7rem;
	line-height: 2.5rem;
	color : #444;
}
h3{
	font-weight: 500;
	font-size:1.5rem;
	color : #555;
	line-height: 2rem;
}
p{
	font-family: 'Noto Serif KR', serif;
	line-height: 1.7rem;
	color : #333;
	margin : 20px 0px;
}

div.posts a{
	margin-bottom:10px;
	color : #333;
	font-weight: 900;
	font-size:1.8rem;
	line-height: 2.5rem;
	word-break: keep-all;
}
div.posts time{
	margin-top:1rem;
	font-size: 0.9rem;
	display:block;
}

div.posts p{
	text-align: justify;
	font-size: 1rem;
	color:#333;
}


img{
	display: block;
	margin:20px auto;
	max-width:min(500px, 100%);
	object-fit: cover;
}
code{
	font-family: 'Consolas', 'Noto Sans KR';
	margin:0px 2px;
	background:#eff9fc;
	color :#375863;
	padding: 2px 7px;
	border-radius: 5px;
}
div.post a{
	text-decoration: underline;
}

.row{
	display: flex;
	box-sizing:border-box;
}
.col{
	box-sizing: border-box;
}

.col + .col {
	margin-left:1rem;
}