div.wrap{
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  margin:0 auto;
  padding:20px;
}

header{
  margin-bottom:20px;
}

header h1 a,
header h1 a:hover,
header h1 a:visited,
header h1 a:link
{
  text-decoration: none;  
  color : inherit;
}

header h1 {
  color : #53bcba;
  font-weight:800;
  font-size: 3rem;
  font-family: "Consolas";
}

footer{
  padding : 20px 0px;
}